.Weather {
  border: 2px solid darkblue;
  border-radius: 6px;
  padding: 20px;
}

.Weather h1 {
  color: darkblue;
  font-size: 32px;
  font-weight: 550;
  line-height: 36px;
  margin: 10px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  margin-top: 5px;
}

.Weather a {
  text-decoration: none;
}

.Weather .temperature {
  color: #212529;
  font-size: 56px;
  line-height: 74px;
  position: relative;
}

.Weather .unit {
  position: relative;
  top: -30px;
}
